<%- include("partials/header"); -%>
<h1>Messege Sent Successfully </h1>
<p>We will get in touch with you soon ! </p>
<a href="/"> you can read some cool blogs ...</a>
<%- include("partials/footer"); -%>